/* 웹 폰트 임폴트 */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');



body {

    margin: 3%;
    font-family:

}

table {

    padding: 50px;

}

th {

    text-align: center;
    width: 7%;

}

td {

    width: 300px;
    height: 200px;

}

#CreateIcon {
    padding: 0px 10px 0px 0px;
}

#dropdownMenuButton1 {

    background-color: #8A2BE2;
    border-color: #8A2BE2;
    box-shadow: initial;

    width: 159px;

}

.dropdown-menu {
    box-shadow: initial;
}

.dropdown-item:active {
    background-color: #8A2BE2
}


/* The Modal (background) */
.modal {

    display: none;
    flex-direction: column;


}

/* Modal Content Box */
.modal-content {

    align-items: flex-start;
    /* padding: 48px; */

    position: fixed;
    margin-top: -10%;
    margin-left: -10%;
    top: 40%;
    left: 50%;

    width: 436px;
    height: 580px;
    padding: 48px;


    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 24px;
}

.modal-memo-content {

    align-items: flex-start;
    /* padding: 48px; */

    position: fixed;
    margin-top: -10%;
    margin-left: -10%;
    top: 40%;
    left: 50%;

    width: 436px;
    height: 380px;
    padding: 48px;


    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 24px;
}

/* modal mask */
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;

}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}


.timePicker {
    margin: 10px;
    height: 33px;
}

.modal-container {
    width: 300px;
    margin: 0px auto;
    padding: 48px;
    background-color: #ffffff;
    border: 0px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

/* 일정 생성 취소 버튼 */
.modalCancel {
    background-color: #FFFFFF;
    border-color: #8A2BE2;
    box-shadow: initial;

    width: 164px;
    height: 44px;

    color: #8A2BE2;
}

.modalCancel:hover {
    background-color: #FFFFFF;
    color: #8A2BE2;
    box-shadow: initial;
}

.modalCancel:activate {
    background-color: #FFFFFF;
    color: #8A2BE2;
    box-shadow: initial;
}

.modalCancel:focus {
    background-color: #FFFFFF;
    color: #8A2BE2;
    box-shadow: initial;
}

.modalCreate {

    background-color: #8A2BE2;
    border-color: #8A2BE2;
    border-radius: 4px 4px 4px 4px;
    box-shadow: initial;

    width: 164px;
    height: 44px;

    color: #FFFFFF;
    align-item: center;
    margin: 0px 0px 0px 12px;
}

.modalCreate:focus {
    background-color: #8A2BE2;
    box-shadow: initial;
}

.modalCreate:hover {
    background-color: #8A2BE2;
}

.btn-primary:active:focus {
    box-shadow: initial;
}

/* 메모 생성 취소 버튼 */

#modalCancel2 {

    background-color: #FFFFFF;
    border-color: #8A2BE2;
    box-shadow: initial;

    width: 164px;
    height: 44px;

    color: #8A2BE2
}

.close:hover,
.close:focus {

    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* modal 생성시 입력 */
#exampleFormControlInput1 {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px;

    position: static;
    width: 340px;
    height: 44px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    box-shadow: 0px 2px 0px #8E8E8E;
    border: none;
    border-radius: 4px 4px 0px 0px;
}

/* modal 수정 */
#exampleFormControlInput2 {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px;

    position: static;
    width: 340px;
    height: 44px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    box-shadow: 0px 2px 0px #8E8E8E;
    border: none;
    border-radius: 4px 4px 0px 0px;
}

/* modal 텍스트 */
.modalTextArea {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px;

    position: static;
    width: 340px;
    height: 150px;
    left: 0px;
    top: 68px;

    background: #FFFFFF;
    border: 1px solid #8E8E8E;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: initial;



    /* Inside Auto Layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 24px 0px 10px 0px;
    resize: none;
}

.modalTextArea:focus {
    background-color: #e7dfff;
    color: #5f26ff;
    box-shadow: initial;
}

.timeLabel {
    position: absolute;
    width: 436px;
    top: 380px;
    align-items: center;
    color: #000000;
}

.weekSelect {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 12px 1px 15px;

    position: static;
    width: 86px;
    height: 44px;
    left: 0px;
    top: 0px;

    border: none;
    background: #FFFFFF;
    border-radius: 4px 4px 0px 0px;

    border: 0px;
    border-bottom: 1px solid black
}

.weekSelect:focus {
    box-shadow: 0px 2px 0px #8E8E8E;
}

.weekSelectText {
    position: relative;
    width: 28px;
    height: 20px;
    left: 12px;
    top: 12px;

    font-family: Pretendard;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    font-feature-settings: 'pnum'on, 'lnum'on;


}

.startTimeSelect {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px;

    position: static;
    width: 115px;
    height: 44px;
    left: 98px;
    top: 0px;

    background: #FFFFFF;
    box-shadow: 0px 2px 0px #8E8E8E;
    border-radius: 4px 4px 0px 0px;
    border: none;
    /* Inside Auto Layout */


    flex: none;
    order: 1;
    flex-grow: 1;
    margin: 0px 12px;
}

.startTimeSelect:focus {
    box-shadow: 0px 2px 0px #8E8E8E;
}

.endTimeSelect {
    /* Textfield */


    /* Auto Layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px;

    position: static;
    width: 105px;
    height: 44px;
    left: 225px;
    top: 0px;

    background: #FFFFFF;
    box-shadow: 0px 2px 0px #8E8E8E;
    border-radius: 4px 4px 0px 0px;
    border: none;

    /* Inside Auto Layout */

    flex: none;
    order: 2;
    flex-grow: 1;
    margin: 0px 12px;
}

.endTimeSelect:focus {
    box-shadow: 0px 2px 0px #8E8E8E;
}

.timeSelect {
    /* Textfield */


    /* Auto Layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 340px;
    height: 44px;
    left: 0px;
    top: 280px;
    border: none;


    /* Inside Auto Layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    margin: 24px 0px;
}

.seasonSelect {

    /* Textfield */


    /* Auto Layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px;

    position: static;
    width: 340px;
    height: 48px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    box-shadow: 0px 2px 0px #8E8E8E;
    border-radius: 4px 4px 0px 0px;
    border: none;
    /* Inside Auto Layout */

    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
    margin: 20px 0px 26px 0px;

}

.seasonSelect:focus {
    box-shadow: 0px 2px 0px #8E8E8E;
}

/* 모달 버튼 */
.modalButtons {
    /* Buttons */


    /* Auto Layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 340px;
    height: 44px;
    left: 0px;
    top: 90%;


    /* Inside Auto Layout */

    flex: none;
    order: 5;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}


#modalCreate2 {
    background-color: #5F26FF;
    border-color: #8A2BE2;
    border-radius: 4px 4px 4px 4px;
    box-shadow: initial;

    width: 164px;
    height: 44px;

    color: #FFFFFF;
    align-item: center;
    margin: 0px 12px;
}


.form-check-input {
    position: absolute;
    right: 10%;

}

.form-check-input:focus {
    box-shadow: initial;
}

.form-check-input:checked {
    position: absolute;
    right: 10%;
    background-color: #5F26FF;
    box-shadow: initial;
}

/* 시간표에 붙어있는 기본적인 시간 */
.timeShow {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #808080;
}

/* 생성한 일정 버튼 */
/*
         .btn-secondary{
            width : 100%;
            text-align: left;

            color : #8A2BE2;
            background-color : #EAE5FA;
            font-weight : 900;

            border : none;
            box-shadow:initial;
         }
         .btn-secondary:focus{
            box-shadow:initial;
            background-color : #EAE5FA;
            color : #8A2BE2;
            border : none;
         }
         .btn-secondary:focus-visible{
            border : none;
         }
         .btn-secondary:active:focus{
            box-shadow: initial;
         }

         .btn-secondary:hover{
            color : #8A2BE2;
            background-color : #EAE5FA;
         }
         */

.dailyContentButton {
    width: 100%;
    text-align: left;

    color: #8A2BE2;
    background-color: #EAE5FA;
    font-weight: 900;

    border: none;
    box-shadow: initial;

}

.dailyContentButton:focus {
    box-shadow: initial;
    background-color: #EAE5FA;
    color: #8A2BE2;
    border: none;
}

.dailyContentButton:focus-visible {
    border: none;
}

.dailyContentButton:active:focus {
    box-shadow: initial;
}

.dailyContentButton:hover {
    color: #8A2BE2;
    background-color: #EAE5FA;
}

.dailyContentButtonShared {
    width: 100%;
    text-align: left;

    color: #000000;
    background-color: #E1E1E1;
    font-weight: 900;

    border: none;
    box-shadow: initial;
}

.dailyContentButtonShared:focus {
    box-shadow: initial;
    border: none;
    color: #000000;
    background-color: #E1E1E1;
}

.dailyContentButtonShared:focus-visible {
    border: none;
    box-shadow: initial;
    color: #000000;
    background-color: #E1E1E1;
}

.dailyContentButtonShared:active:focus {
    box-shadow: initial;
    color: #000000;
    background-color: #E1E1E1;
}

.dailyContentButtonShared:hover {
    color: #000000;
    background-color: #E1E1E1;
}


.showSeason {
    font-weight: normal;
}

/* 생성한 일정 버튼 안의 텍스트 조절 */
.p-2 {
    padding: 0px !important;
}

/* 생성한 일정의 내용의 세로점3개 이미지*/
.moreVert {
    width: 24px;
    height: 24px;

}

/* 일정 내용 */

.dailyContent {
    width: 350px;
    height: 170px;
    border-radius: 4px 15px 4px 4px;

    position: absolute;

    box-shadow: 3px 3px 3px 3px rgb(0, 0, 0, .25);
    z-index: 10;
}

/* 일정 내용의 타이틀 */
.dailyContentTitle {
    font-weight: 600;
    margin-bottom: 8px;
}



.dailyContent-1 {
    width: 350px;
    height: 100px;
    position: absolute;

    background-color: #8A2BE2;
    color: #FFFFFF;

    border: none;
    border-radius: 4px 4px 0px 0px;

    padding: 10px;

    z-index: 2;
}

.dailyContent-2 {
    width: 350px;
    height: 70px;
    position: absolute;
    top: 100px;
    border-radius: 0px 0px 4px 4px;

    background-color: #FFFFFF;
    color: #000000;

}

.dailyContentShowSeason {
    padding: 15px 10px 10px 10px;
    font-weight: 800;
    margin: 0px;
}

/* 무슨 학기인지 보여줌 */
.dailyContentShowRepeat {
    font-weight: normal;
    color: #808080;
    padding: 0px 0px 10px 10px;
    margin: 0px;
}

/* 일정 내용 끝 */

/* 공유받은 일정 */
.sharedDailyContent {
    width: 350px;
    height: 200px;
    border-radius: 4px 15px 4px 4px;

    position: absolute;

    box-shadow: 3px 3px 3px 3px rgb(0, 0, 0, .25);
    z-index: 10;
}

/* 일정 내용의 타이틀 */
.sharedDailyContentTitle {
    font-weight: 600;
    margin-bottom: 8px;
}

.sharedDailyContentUser {
    color: #969696;
}

.sharedDailyContent-1 {
    width: 350px;
    height: 130px;
    position: absolute;

    background-color: #424242;
    color: #FFFFFF;

    border: none;
    border-radius: 4px 4px 0px 0px;

    padding: 10px;

    z-index: 2;
}

.sharedDailyContent-2 {
    width: 350px;
    height: 100px;
    position: absolute;
    top: 100px;
    border-radius: 0px 0px 4px 4px;

    background-color: #FFFFFF;
    color: #000000;

}

.sharedDailyContentShowSeason {
    padding: 43px 10px 10px 10px;
    font-weight: 800;
    margin: 0px;
}




/* 무슨 학기인지 보여줌 */
.sharedDailyContentShowRepeat {
    font-weight: normal;
    color: #808080;
    padding: 0px 0px 10px 10px;
    margin: 0px;
}




/* 오른쪽 표시 드롭다운 */

.dcDropdown {
    left: 310px;
    padding: 0px 0px 0px 0px;
}

.dropdown-toggle:focus {
    box-shadow: initial;
}

.dcDropdown .dropdown-toggle:after {
    border: none;
}

.imgButton {
    width: 24px !important;
    height: 24px !important;
    padding: 0px 0px 0px 0px;
}

.swal-modal {
    height: 100px;
    text-align: left;
    margin: 40px;
}

.swal-text {
    padding-left: 80px;

}

.swal-footer {
    width: 250px;
    left: 45%;
    top: 1%;
    position: absolute;
}

.swal-button--confirm {
    background-color: #8A2BE2;
}

.swal-button--confirm:not([disabled]):hover {
    background-color: #8A2BE2;
}

.swal-button:focus {
    box-shadow: initial;
}

/* 시간표에서 메모 보여주는 버튼 */

.memoButton {
    width: 100%;
    text-align: left;

    color: #FE8A20;
    background-color: #FAEEE2;
    font-weight: 900;

    border: none;
    box-shadow: initial;

}

.memoButton:focus {
    box-shadow: initial;
    background-color: #FAEEE2;
    color: #FE8A20;
    border: none;
}

.memoButton:focus-visible {
    border: none;
}

.memoButton:active:focus {
    box-shadow: initial;
}

.memoButton:hover {
    color: #FE8A20;
    background-color: #FAEEE2;
}

.showMemo {
    font-weight: normal;
}

/* 메모 내용 표시 */
.memoContent {
    width: 350px;
    height: 100px;
    border-radius: 4px 4px 4px 4px;
    background-color: #FE8A20;
    position: absolute;

    box-shadow: 3px 3px 3px 3px rgb(0, 0, 0, .25);
    z-index: 10;

    border: none;

    padding: 10px;

    z-index: 2;

    color: #FFFFFF;

}

/* 일정 내용의 타이틀 */
.memoContentTitle {
    font-weight: 600;
    margin-bottom: 8px;
}


.memoContentBody {
    font-weight: normal;

}