{% load static %} <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" type="text/css" href="{%static 'CSS/login.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
<script src="{% static 'JS/jquery-3.6.0.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'JS/login.js' %}" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js"></script>
<script>
    var setCookie = (name, value, exp) => {
        var date = new Date();
        date.setTime(date.getTime() + exp*24*60*60*1000);
        document.cookie = name + '=' + value + ';expires=' + date.toUTCString() + ';path=/';
    };
    if(document.cookie) location.href='./schedule';
    $(document).ready(()=>{
        $('.sm').click(()=>{ actLogin(); return false;});
        $('.reb').click(()=>{ location.href=("./signup");});
        $('.uname').click(()=>{
        $('#unamewrap').css('backgroundColor', "#E7DFFF")});
    });
    actLogin = () => {
        var id = $('#uname').val().trim()
        var pw = $('#pw').val().trim()
        if(id.length == 0) {
            warnon=false;
            lb.style.visibility="hidden";
            $('.uname').focus();
            alert("아이디를 입력하세요.")
            return false;
        } else if (pw.length == 0) {
            $('.pw').focus();
            alert("비밀번호를 입력하세요.")
            return false;
        }
        var dData = {"id": id, "pw": sha256(pw) }; //sha256(pw)}
        $.ajax({
            type: "POST",
            url: "http://conota.cf/login",
            data: dData,
            success: (res) => {
                console.log('성공 ' + JSON.stringify(res))
                if(res.message=='auth failed') {
                    console.log('로그인 실패');
                    lb.style.visibility="visible";
                    $('.uname').focus();

                    return false;
                }
                setCookie('token', res.token, 30);
                location.href = '/schedule/schedule';
            }, error: (req, stat, err) => {
                console.log('실패');
            }
        });
    }
    </script>
</head>
<body>
<body onload="init()">
    <div class="wrapper" id="box">
        <span class="signin">Sign In</span>
        <span class="login">로그인</span>
        <form method="POST" onsubmit="return false;" novalidate>
            <div class="unamewrap" id="unamewrap">
                <P class="p">
                    <label class="lb" id="lb">가입하지 않은 이메일입니다.</label>
                </P>
                <input name="username" type="text" class="uname" id="uname" placeholder="Email" required>
            </div>
            <br>
            <input id='pw' name="password" type="password" class="pw" placeholder="비밀번호" required>
            <br><br>
            <input type="submit" value="로그인" class="sm" id="sm">
        </form>
        <hr class="dv">
        <button type="button" class="reb">회원 가입</button>
    </div>
</body>
</html>